@font-face {
    font-family: "Gill";
    src: url("Resources/Fonts/GillSans-UltraBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Gill";
    src: url("Resources/Fonts/GillSans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Gill";
    background-color: #fff2e6;
}

#menu {
    background-color: #ff5033;
    z-index: 999;
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: center;
}

#menu h3 {
    padding: 0px 20px;
    font-weight: bold;
    height: 100%;
}

#menu h3:hover {
    padding: 0px 20px;
    font-weight: 900;
    color: ghostwhite;
    cursor: pointer;
}

#landing {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url("Resources/Images/landing.png");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

#cartaz {
    font-weight: bold;
    font-size: 60px;
    padding: 20px 0px 20px 0px;
    width: 70%;
    height: auto;
    margin-top: 55vh;
    text-align: center;

}

#cartaz p span {
    white-space: nowrap;
}

#artists, #contactos {
    margin-left: 10vW;
    width: 80vw;
}

.titulo {
    color: #ff5033;
    text-align: center;
    font-size: 60px;
}

.artistX {
    width: 49.5%;
    margin: 0;
}


#contactos iframe {

    width: 100%;

}

.logos {
/ / background-color: #ff5033;
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
    bottom: 0px;
    width: 100vw;
}

.logos img {
    width: 70px;
    padding: 0px 10px 0px 10px;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: multiply;
}

