@font-face {
    font-family: "Gill";
    src: url("Resources/Fonts/GillSans-UltraBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Gill";
    src: url("Resources/Fonts/GillSans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


body {
    padding: 0;
    margin: 0;
    font-family: "Gill";
    background-color: #fff2e6;
    cursor: url("Resources/Logos/salta.png"), auto;
    cursor: url("Resources/Logos/salta.png") 23 13, move;
    overflow-x: hidden;
}

#coockiePolicy{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    bottom:0px;
    width: 100vw;
    height: 50px;
}

#textCoockie{
    width: 90%;
}

#closeCoockie{
    width: 10%;
    text-align: center;
    padding: 0px 20px;
}

#closeCoockie:hover{
    cursor: pointer;
}

#coockiePolicy a{
    text-decoration: underline;
}

#menu {
/ / background-color: #f04f41;
    z-index: 999;
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


#menu img {
    width: 5vh;
}

#menu #tickets {
    border: black 2px solid;
}

#menu h1 {
    padding: 0px 10px;
    font-weight: bold;
    font-size: 2vh;
}

#menu h1:hover {
    color: ghostwhite;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

#forms {
    position: fixed;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

#forms img {
    width: 10vw;
    position: fixed;
}

.formX {
    animation: rotation 30s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

#landing {
    width: 100vw;
    min-height: 90vh;
    display: flex;
    justify-content: center;
}

#landing-small {
    width: 100vw;
    display: flex;
    justify-content: center;
}

#logo {
    margin-top: 100px;
    width: 30%;
}

#vila {
    width: 100%;
    margin: 0 auto;
    display: block;
}

#cartaz {
    font-weight: bold;
    font-size: 5vh;
    padding: 20px 0px 20px 0px;
    width: 70%;
    height: auto;
    text-align: center;

}

#cartaz p span {
    white-space: nowrap;
}

#contactos {
    margin-left: 10vw;
    width: 80vw;
}

.container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    gap: 10px;
}

.flex-item {
    width: 50%;
    text-align: center;
}


.bilheteInfo {
    display: none;
}

.main {
    display: block;
}

#bilhetes {
    margin-left: 10vw;
    width: 80vw;
}

#alojamento, #campismo, #chegar {
    width: 80vw;
}

#bilhetes a, #bilhetes p, #alojamento p, #campismo p, #chegar p, #chegar h2, #chegar h3 {
    text-align: center;
}

#bilhetes p, #alojamento p, #campismo p, #chegar p {
    font-size: 3vh;
    padding: 0 10vw;
}

.transportes{
    text-decoration: underline;
}

.bilheteLink {
    display: flex;
    padding: 15px;
    width: 100px;
    border-radius: 50px;
/ / border: 5 px #2339e6 solid;
    margin: 0 auto;
}

.titulo {
    text-align: center;
    font-size: 3vh;
    width: 100%;
}

.alinhamento {
    width: 80vw;
    max-width: 80vw;
    margin: 0 auto;
    display: block;
}

#artists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    padding: 0px 10vw 30px 10vw;
    max-width: 100vw;
    gap: 5px;
}

.artistX {

    flex: 1 1 auto;
    background-color: #fff;
    outline: #2339e6 5px solid;
    object-fit: contain;
}

.red {
    outline: #f04f41 5px solid;
    outline-offset: -5px;
}

.blue {
    outline: #2339e6 5px solid;
    outline-offset: -5px;
}

.green {
    outline: #69c59f 5px solid;
    outline-offset: -5px;
}

@media screen and (min-width: 1200px) {
    .artistX {
        width: calc(99% / 3);
        height: calc(99% / 3);
    }

}


@media screen and (min-width: 768px) and (max-width: 1199px) {
    .artistX {
        width: calc(99% / 2);
        height: calc(99% / 2);
    }

    #logo {
        width: 60vw;
    }

    #cartaz {
        font-size: 3vh;
    }

    #menu h1 {
        font-size: 1.5vh;
        padding: 0px 10px;
    }

    #forms img {
        width: 15vw;
    }

    .container {
        flex-flow: column nowrap;
    }

    .flex-item {
        width: 100%;
        margin-bottom: 50px;
    }
}


@media screen and (max-width: 767px) {
    .artistX {
        width: 100%;
        height: 100%;
    }

    #logo {
        margin-top: 50px;
        width: 60vw;
    }

    #cartaz {
        font-size: 3vh;
    }

    #menu h1 {
        font-size: 1.5vh;
        padding: 0px 10px;
    }


    #forms img {
        width: 15vw;
    }

    #bilhetes p {
        font-size: 2vh;
    }

    .container {
        flex-flow: column nowrap;
    }

    .flex-item {
        width: 100%;
    }
}


#contactos iframe {
    display: block;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 50px;
    margin-top: 50px;
}

#mail {
    text-align: center;
    text-decoration: underline;

}

#signature {
    width: 100vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 50px;
}

#signature img {
    width: 50px;
}

#logosContainer{
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.logos {
    display: flex;
    justify-content: center;
   // padding: 20px 0px 20px 0px;
    //bottom: 20px;
    width: 100vw;
    //position: absolute;
}

.logos2 {
    display: flex;
    justify-content: center;
    //padding: 20px 0px 20px 0px;
    //bottom: 0px;
    width: 100vw;
    //position: absolute;
}
.logos2 p{
    margin: 0 0 50px 0;
}

.media {
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
    width: 100%;
}

.logos img, .media img {
    width: 50px;
    padding: 0px 10px 0px 10px;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: multiply;
}

.coockie{
    text-align: center;
}
.info {
    cursor: pointer;
    text-decoration: underline;
}

.info-body {
/ / display: none;
}