@font-face {
    font-family: "Gill";
    src: url("Resources/Fonts/GillSans-UltraBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Gill";
    src: url("Resources/Fonts/GillSans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Gill";
    background-color: #fff2e6;
}

#menu {
    //background-color: #f04f41;
    z-index: 999;
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: center;
}

#menu h3 {
    padding: 0px 20px;
    font-weight: bold;
    height: 100%;
    font-size: 2vh;
}

#menu h3:hover {
    padding: 0px 20px;
    font-weight: 900;
    color: ghostwhite;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: black;
}

#forms {
    z-index: 999;
    position: fixed;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

#forms img{
    width: 10vw;
    position: fixed;
}

.formX {
    animation: rotation 30s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

#landing {
    width: 100vw;
    min-height: 90vh;
    display: flex;
    justify-content: center;
}

#landing-small {
    width: 100vw;
    display: flex;
    justify-content: center;
}

#logo{
    margin-top: 100px;
    width: 30%;
}

#cartaz {
    font-weight: bold;
    font-size: 5vh;
    padding: 20px 0px 20px 0px;
    width: 70%;
    height: auto;
    text-align: center;

}

#cartaz p span {
    white-space: nowrap;
}

#contactos {
    margin-left: 10vw;
    width: 80vw;
}



.titulo {
    text-align: center;
    font-size: 3vh;
    width: 100%;
}

#artists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    padding: 0px 10vw;
    //padding: 100px 10vw 0px 10vw;
    max-width: 100vw;
    gap: 5px;
}

.artistX {

    flex: 1 1 auto;
    background-color: #fff;
    outline: #2339e6 5px solid;
    object-fit: contain;
}

.red{
    outline: #f04f41 5px solid;
    outline-offset: -5px;
}

.blue{
    outline: #2339e6 5px solid;
    outline-offset: -5px;
}

.green{
    outline: #69c59f 5px solid;
    outline-offset: -5px;
}

@media screen and (min-width: 1200px) {
    .artistX {
        width: calc(99%/3);
        height: calc(99%/3);
    }

}


@media screen and (min-width: 768px) and (max-width: 1199px) {
    .artistX {
        width: calc(99%/2);
        height: calc(99%/2);
    }
    #logo{
        width: 60vw;
        margin-top: 50px;
    }

    #cartaz {
        font-size: 3vh;
    }

    #menu h3{
        font-size: 1.5vh;
    }

    #forms img {
        width: 15vw;
    }
}


@media screen and (max-width: 767px) {
    .artistX {
        width: 100%;
        height: 100%;
    }
    #logo{
        width: 60vw;
        margin-top: 50px;
    }

    #cartaz {
        font-size: 3vh;
    }

    #menu h3{
        font-size: 1.5vh;
    }

    #forms img {
        width: 15vw;
    }
}



#contactos iframe {
    width: 100%;
}

.logos{
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
    bottom: 0px;
    width: 100vw;
}

.media{
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
    width: 100%;
}

.logos img, .media img {
    width: 70px;
    padding: 0px 10px 0px 10px;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: multiply;
}

